h1{
    color: red;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 40%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 1%;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  footer {
    text-align: center;
    padding: 3px;
    color: rgb(0, 0, 0);
  }